@model IEnumerable<Entities.GuestResponse>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>ListResponses</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<div class="panel-body">
		<table class="table table-sm table-striped table-bordered">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Email)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Phone)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Email)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Phone)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<p><a asp-action="Index" />Back to Home Page</p>
</body>
</html>